<!DOCTYPE html ng-app="LoginApp">
<html>
  <head>
    <meta charset="UTF-8">
    <title>Luther College Lost and Found</title>
    <link rel="stylesheet" href="/partials/login/login.css">
  </head>

  <body layout="column">
    <div class="webpage" ng-controller="loginController">
      <button id="authorize-button" style="visibility: hidden">Authorize</button>
      <pre id="output"></pre>
      <script type="text/javascript">
        

      
      </script>
      <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    </div>
  </body>
</html>

