
    <div ng-app="LoginApp" class="webpage" ng-controller="loginController" layout="column" ng-cloack>
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
          <span>HANGOUTS BOT</span>
        </h2>
      </md-toolbar>
      <md-button class="md-raised md-primary" aria-label="test" ng-click="test()" >send</md-button>
      <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="row" class="ng-cloak">
            
          <md-card>
            <md-toolbar md-scroll-shrink ng-if="true">
              <div class="md-toolbar-tools">
                <h3>
                  <span>Messages To-Reply</span>
                </h3>
              </div>
            </md-toolbar>
            
            <md-card-content>
              <md-list>
                <md-list-item class="md-3-line" ng-repeat="item in userMessages">
                  <div class="md-list-item-text" class="ng-cloak">
                    <h3>{{item.sender}}</h3>
                    <p>{{item.snippet}}</p>
                  </div>
                  
                  <md-divider ng-if="!$last"></md-divider>
                  <md-button class="md-primary" ng-click="initiateChat(item)">start</md-button>
                </md-list-item>
              </md-list>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised md-primary" aria-label="refreshUnread" ng-click="refreshUnread()">refresh</md-button>
            </md-card-actions>
          </md-card>
           
          <md-card>
            <md-toolbar md-scroll-shrink ng-if="true">
              <div class="md-toolbar-tools">
                <h3>
                  <span>Current Chat</span>
                </h3>
              </div>
            </md-toolbar>
            
            <md-card-content>
              <md-list>
                <md-list-item class="md-3-line" ng-repeat="item in chatMessages.messages" ng-style="{background: item.color}">
                  <div class="md-list-item-text" style="text-align: {{item.align}};">
                    <h2><b>{{item.sender}}</b></h2>
                    <p>{{item.message}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised md-primary" aria-label="send" ng-click="send()" >send</md-button>
            </md-card-actions>
          </md-card>
             
          </div>
        </md-content>
      <button id="authorize-button" style="visibility: hidden">Authorize</button>

      <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    </div>

